<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
  <div style="text-align: center; padding: 2rem;">
    <h1>About Us</h1>
    <h3>We have been playing league sports our whole lives</h3>

    <p style="max-width: 700px; margin: 1.5rem auto;">
      We have all been playing volleyball at Tech for the past 3 years. We love the sport and have played in many adult leagues in many different formats.
    </p>

    <p style="max-width: 700px; margin: 1.5rem auto;">
        We recognized the need for adult access to league sports. It is difficult to get into sports for many adults because good leagues are often spread through word of mouth.
    </p>

    <div style="display: flex; flex-direction: column; align-items: center; gap: 2rem; margin-top: 2rem;">
        <img src="static/team.jpeg" alt="team" style="max-width: 80%; border-radius: 10px;">
        <img src="static/favicon.ico" alt="team" style="max-width: 80%; border-radius: 10px;">
    </div>
  </div>
{% endblock %}