{% extends 'base.html' %}

{% block body %}

{% if league %}
    {{moment(league.create_date).calendar()}} by {{league.author.fname}} {{league.author.lname}} 
    {% if league.modifydate %}
        modified {{moment(league.modifydate).calendar()}}
    {% endif %}
    <br>
    {% if league.author == current_user %}
        <a data-toggle="tooltip" data-placement="top" title="Delete League" href="/league/delete/{{league.id}}">
            <img width="40" class="bottom-image" src="/static/delete.png">
        </a>
        <a data-toggle="tooltip" data-placement="top" title="Edit League" href="/league/edit/{{league.id}}">
            <img width="40" class="bottom-image" src="/static/edit.png">
        </a>
    {% endif %}

    <h1 class="display-5">{{league.subject}}</h1>
    <p class="fs-3 text-break">
        {% if league.author.image %}
            <img width="120" class="img-thumbnail float-start me-2" src="data:image;base64,{{base64encode(league.author.image.read())}}">
        {% endif %}
            {{league.name}} <br>
            {{league.founder}} <br>
            {{league.sport}} <br>
            {{league.num_of_teams}} <br>
            {{league.address}}

    </p>
    <a class="btn btn-success btn-sm my-2" href="{{ url_for('teamNew', leagueID=league.id) }}">Add Team</a>

<h2 class="mt-4">Teams in This League</h2>
{% if teams %}
    <ul class="list-group">
    {% for team in teams %}
        <li class="list-group-item">
            <strong>{{ team.name }}</strong> - {{ team.city }} (Coach: {{ team.coach }})
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No teams in this league yet.</p>
{% endif %}

{% else %}
    <h1 class="display-5">No League</h1>
{% endif %}

{% endblock %}