{% extends 'base.html' %}

{% block body %}

<div class="row">
    <div class="col-4">
        <h1 class="display-1">All Leagues</h1>
    </div>
    <div class="col">
        <a href="/league/new" class="btn btn-primary btn-sm mt-5" role="button">New League</a>
    </div>
</div>

{% if leagues %}
    {% for league in leagues %}
        <div class="row border-bottom">
            <div class="col-2">
                {% if loop.index == 1 %}
                <h3 class="display-5">Date</h3>
                {% endif %}

                <a href="/league/{{league.id}}">
                    {{moment(league.create_date).calendar()}}
                </a>
            </div>
            <div class="col-2">
                {% if loop.index == 1 %}
                <h3 class="display-5">User</h3>
                {% endif %}
                {{league.author.fname}} {{league.author.lname}}
            </div>
            <div class="col">
                {% if loop.index == 1 %}
                    <h3 class="display-5">Subject</h3>
                {% endif %}
                {{league.name}}
            </div>
        </div>
    {% endfor %}
{% else %}
    <h1>No Leagues</h1>
{% endif %}

{% endblock %}