{% extends 'base.html' %}

{% block body %}

<div class="row">
    <div class="col-4">
        <h1 class="display-1">All Listings</h1>
    </div>
    <div class="col">
        <a href="/listing/new" class="btn btn-primary btn-sm mt-5" role="button">New Listing</a>
    </div>
</div>

{% if listings %}
    {% for listing in listings %}
        <div class="row border-bottom">
            <div class="col-2">
                {% if loop.index == 1 %}
                <h3 class="display-5">Date</h3>
                {% endif %}

                <a href="/listing/{{ listing.id }}">
                    {{ moment(listing.create_date).calendar() }}
                </a>
            </div>
            <div class="col-2">
                {% if loop.index == 1 %}
                <h3 class="display-5">User</h3>
                {% endif %}
                {{ listing.author.fname }} {{ listing.author.lname }}
            </div>
            <div class="col">
                {% if loop.index == 1 %}
                    <h3 class="display-5">Subject</h3>
                {% endif %}
                {{ listing.subject }}
            </div>
        </div>
    {% endfor %}
{% else %}
    <h1>No Listings</h1>
{% endif %}

{% endblock %}