{% extends 'base.html' %}

{% block body %}

<div class="row">
    <div class="col-4">
        <h1 class="display-1">All Listings</h1>
    </div>
    <div class="col">
        <a href="/listing/new" class="btn btn-primary btn-sm mt-5" role="button">New Listing</a>
    </div>
</div>

{% if listings %}
    {% for listing in listings %}
        <div class="row border-bottom py-2">
            <div class="col-3">
                {% if loop.index == 1 %}
                    <h3 class="display-5">Location</h3>
                {% endif %}
                <a href="/listing/{{listing.id}}">
                    {{listing.gym_location}}
                </a>
            </div>

            <div class="col-3">
                {% if loop.index == 1 %}
                    <h3 class="display-5">Quality</h3>
                {% endif %}
                {{listing.gym_quality}}
            </div>

            <div class="col-3">
                {% if loop.index == 1 %}
                    <h3 class="display-5">Price</h3>
                {% endif %}
                {{listing.price}}
            </div>

            <div class="col-3">
                {% if loop.index == 1 %}
                    <h3 class="display-5">Contact</h3>
                {% endif %}
                {{listing.gym_contact}}
            </div>
        </div>
    {% endfor %}
{% else %}
    <h1>No Listings</h1>
{% endif %}

{% endblock %}
