{% extends "base.html" %}

{% block body %}
    <h1>Create or Edit Listing</h1>

    <form method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}

        <p>
            {{ form.gym_location.label }}<br>
            {{ form.gym_location(size=64) }}
            {% for error in form.gym_location.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ form.gym_picture.label }}<br>
            {{ form.gym_picture() }}
            {% for error in form.gym_picture.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ form.gym_quality.label }}<br>
            {{ form.gym_quality(size=64) }}
            {% for error in form.gym_quality.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ form.gym_price.label }}<br>
            {{ form.gym_price(size=64) }}
            {% for error in form.gym_price.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ form.gym_contact.label }}<br>
            {{ form.gym_contact(size=64) }}
            {% for error in form.gym_contact.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ form.submit() }}
        </p>
    </form>

{% endblock %}
