{% extends 'base.html' %}

{% block body %}

{% if listing %}
    {{moment(listing.create_date).calendar()}} by {{listing.author.fname}} {{listing.author.lname}} 
    {% if listing.modify_date %}
        modified {{moment(listing.modify_date).calendar()}}
    {% endif %}
    <br>
    {% if listing.author == current_user %}
        <a data-toggle="tooltip" data-placement="top" title="Delete Listing" href="/listing/delete/{{listing.id}}">
            <img width="40" class="bottom-image" src="/static/delete.png">
        </a>
        <a data-toggle="tooltip" data-placement="top" title="Edit Listing" href="/listing/edit/{{listing.id}}">
            <img width="40" class="bottom-image" src="/static/edit.png">
        </a>
    {% endif %}

    <h1 class="display-5">{{listing.gym_location}}</h1>
    <p class="fs-3 text-break">
        {% if listing.gym_picture %}
            <img width="120" class="img-thumbnail float-start me-2" src="data:image;base64,{{base64encode(listing.gym_picture.read())}}">
        {% endif %}
        Location: {{listing.gym_location}} <br>
        Quality: {{listing.gym_quality}} <br>
        Price: {{listing.price}} <br>
        Contact: {{listing.gym_contact}}
    </p>

{% else %}
    <h1 class="display-5">No Listing</h1>
{% endif %}

{% endblock %}
