{% extends 'base.html' %}

{% block body %}
<h1 class="display-1">
    My Profile
    <a href="/myprofile/edit">
        <img width="40" src="/static/edit.png">
    </a>
</h1>
<div class="row">
    <div class="col-2">
        {% if current_user.image %}
            <img class="img-thumbnail img-fluid" src="data:image;base64,{{base64encode(current_user.image.read())}}"> <br>
        {% else %}
            <img class="img-thumbnail" width = "100" src="/static/lion.png">
        {% endif %} 
    </div>
    <div class="col display-5">
        {% if current_user.fname and current_user.lname %}
            Name: {{current_user.fname}}  {{current_user.lname}} <br>
        {% else %}
            Google User Name: {{current_user.gname}} <br>
        {% endif %}
        Email: {{current_user.email}} <br>
        Roles: 
        {% for role in current_user.roles %}
        <ul>
            <li>{{role.name.capitalize()}}</li>
        </ul>
        {% endfor %}

    </div>
</div>
<br>



{% endblock %}