<!-- this is a generic form page.  Best way to make a new form page is to 
copy this one and then edit it. -->

{% extends "base.html" %}

{% block body %}
        <br><br>
        <h1 style="font-family:Georgia, 'Times New Roman', Times, serif ; color:#30436c">Write a Review about your Experience!</h1>
        <br><br>

        <!--List all errors in a group at the top-->
        {% for field in form.errors %}
            {% for error in form.errors[field] %}
                <div class="alert alert-error">
                    <strong>Error!</strong>{{field}}: {{error}}
                </div>
            {% endfor %}
        {% endfor %}

        <form method=post>
            {{ form.hidden_tag() }}
            <p style="font-family:Georgia, 'Times New Roman', Times, serif; color:#4b4691; font-size:x-large">
                {{ form.name.label }} <br>
                {{ form.name() }}
                <!--List the errors for this field-->
                {% for error in form.name.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p style="font-family:Georgia, 'Times New Roman', Times, serif; color:#4b4691; font-size:x-large">
                {{ form.subject.label }} <br>
                {{ form.subject() }}
                <!--List the errors for this field-->
                {% for error in form.subject.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p style="font-family:Georgia, 'Times New Roman', Times, serif; color:#4b4691; font-size:x-large">
                Write your Review... <br>
                {{ form.text(cols=64, rows=10) }}
                <!--List the errors for this field-->
                {% for error in form.text.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p style="font-family:Georgia, 'Times New Roman', Times, serif; color:#4b4691; font-size:x-large">
                Rate your experience: 0 is terrible, 10 is amazing  <br>
                {{ form.rating() }}
                {% for error in form.rating.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <br>
            <p role="button" style="font-family:Georgia, 'Times New Roman', Times, serif ; color:#ffffff; width:500px; height:50px; font-size: x-large;">{{form.submit()}}</p>        </form>
        
{% endblock %}