{% extends 'base.html' %}

{% block body %}

<div class="row">
    <div class="col-4">
        <h1 class="display-1" style="font-family:Georgia, 'Times New Roman', Times, serif ; color:#30436c">Recent Reviews</h1>
        <br><br>
    </div>
    <div class="col">
        <br>
        <a href="/review/new" class="btn btn-primary btn-sm mt-5" role="button" style="font-family:Georgia, 'Times New Roman', Times, serif ; color:#ffffff; width:200px; height:50px; font-size: x-large;">Post a Review</a>
    </div>
</div>

{% if reviews %}
    {% for review in reviews %}
        <div class="row border-bottom">
            <!-- <a data-toggle="tooltip" data-placement="top" title="Delete Post" href="/review/delete/{{review.id}}">
                <img width="40" class="bottom-image" src="/static/delete.png">
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Edit Post" href="/review/edit/{{review.id}}">
                <img width="40" class="bottom-image" src="/static/edit.png">
            </a> -->
            <div class="col-2">
                {% if loop.index == 1 %}
                <center><h5 class="display-5" style="font-family:Georgia, 'Times New Roman', Times, serif; color:#125672">Date</h5></center>
                {% endif %}

                <a href="/review/{{review.id}}">
                    <br>
                    <center><h6 class="display-6" style="font-family:Georgia, 'Times New Roman', Times, serif; color:#544cc2"> {{moment(review.create_date).calendar()}}</h5></center>
                </a>
            </div>
            <div class="col-3">
                {% if loop.index == 1 %}
                <center><h5 class="display-5" style="font-family:Georgia, 'Times New Roman', Times, serif; color:#125672">User</h5></center>
                {% endif %}
                <br>
                <center><h6 class="display-6" style="font-family:Georgia, 'Times New Roman', Times, serif; color:#544cc2"> {{review.author.fname}} {{review.author.lname}}</h5></center>
            </div>
            <div class="col-2">
                {% if loop.index == 1 %}
                <center><h5 class="display-5" style="font-family:Georgia, 'Times New Roman', Times, serif; color:#125672">Hospital</h5></center>
                {% endif %}
                <br>
                <center><h6 class="display-6" style="font-family:Georgia, 'Times New Roman', Times, serif; color:#544cc2"> {{review.name}}</h5></center>
            </div>
            <div class="col-3">
                {% if loop.index == 1 %}
                <center><h5 class="display-5" style="font-family:Georgia, 'Times New Roman', Times, serif; color:#125672">Experience</h5></center>
                {% endif %}
                <br>
                <center><h6 class="display-6" style="font-family:Georgia, 'Times New Roman', Times, serif; color:#544cc2"> {{review.subject}}</h5></center>
            </div>
            <br>
            <div class="col">
                {% if loop.index == 1 %}
                <center><h5 class="display-5" style="font-family:Georgia, 'Times New Roman', Times, serif; color:#125672">Rating</h5></center>
                {% endif %}
                <br>
                <center><h6 class="display-6" style="font-family:Georgia, 'Times New Roman', Times, serif; color:#544cc2"> {{review.rating}}</h5></center>
            </div>
        </div>
    {% endfor %}
{% else %}
{% endif %}

{% endblock %}